
/*================================================
[  Table of contents  ]
================================================
:: Google Fonts
:: General
:: Loader
:: Back to Top
:: Input
:: Search Result
:: Typography
:: Revolution CSS
:: Blog
:: Owl CarouseL
======================================
[ End table content ]
======================================*/

/*---------------------------------------------------------------------
Google Fonts
-----------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext');


/*---------------------------------------------------------------------
General
-----------------------------------------------------------------------*/
body { font-family: 'Open Sans', sans-serif; font-weight: normal; font-style: normal; font-size: 14px; line-height: 24px; color: #666666; }
a, input { -webkit-transition: all 0.5s ease-out 0s; -moz-transition: all 0.5s ease-out 0s; -ms-transition: all 0.5s ease-out 0s; -o-transition: all 0.5s ease-out 0s; transition: all 0.5s ease-out 0s; color: #222222; outline: none !important; }
a:focus { text-decoration: none !important; }
a:focus, a:hover { color: #e97900; text-decoration: none !important; }
.button { -webkit-transition: all 0.5s ease-out 0s; -moz-transition: all 0.5s ease-out 0s; -ms-transition: all 0.5s ease-out 0s; -o-transition: all 0.5s ease-out 0s; transition: all 0.5s ease-out 0s; color: #ffffff; outline: none !important; }
h1, h2, h3, h4, h5, h6 { font-family: 'Raleway', sans-serif; font-size: 100%; font-weight: normal; color: #222222; margin-top: 0px; margin-bottom: 0px; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: inherit; }
h1 { font-size: 40px; line-height: 55px; }
h2 { font-size: 36px; line-height: 50px; }
h3 { font-size: 32px; line-height: 45px; }
h4 { font-size: 28px; line-height: 40px; }
h5 { font-size: 24px; line-height: 35px; }
h6 { font-size: 20px; line-height: 26px; }
hr { margin: 0; padding: 0px; border-bottom: 1px solid #e9e9e9; border-top: 0px; }
ol, ul { padding: 0px; margin: 0px; }
li { list-style: none !important; }
label { font-weight: 400; color: #aaaaaa; }
.label { color: #fff !important; font-size: 9px !important; }
*::-moz-selection { background: #e97900; color: #fff; text-shadow: none; }
::-moz-selection { background: #e97900; color: #fff; text-shadow: none; }
::selection { background: #e97900; color: #fff; text-shadow: none; }
.big-text { font-size: 60px; line-height: 80px; }
.iq-hide { overflow: hidden; }
.nice-font { font-family: 'PT Serif', serif; font-style: italic; }
.wd-full { width: 100% !important; }
ul.one-line { display: inline-block; }
ul.one-line li { float: left; margin: 0 4px; }
.iq-pos-r { position: relative; }
.iq-pos-a { position: absolute; }
iframe { border: inherit; }

/*---------------------------------------------------------------------
Loader
-----------------------------------------------------------------------*/
#loading { background-color: #ffffff; height: 100%; width: 100%; position: fixed; margin-top: 0px; top: 0px; left: 0px; bottom: 0px; overflow: hidden !important; right: 0px; z-index: 999999; }
#loading-center { width: 100%; height: 100%; position: relative; overflow: hidden; }
#loading-center img { width: 100px; text-align: center; left: 0; position: absolute; right: 0; top: 50%; bottom: 50%; z-index: 99; margin: auto; -webkit-animation: spin 4s linear infinite; -moz-animation: spin 4s linear infinite; animation: spin 4s linear infinite; }
@-moz-keyframes spin {
	100% { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
	100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
	100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

/*---------------------------------------------------------------------
Back to Top
-----------------------------------------------------------------------*/
#back-to-top { display: inline !important; }
#back-to-top .top { z-index: 999; position: fixed; margin: 0px; color: #ffffff; background: #333333; position: fixed; bottom: 25px; right: 25px; z-index: 999; font-size: 26px; width: 50px; height: 50px; text-align: center; line-height: 50px; -webkit-border-radius: 90px; -moz-border-radius: 90px; border-radius: 90px; -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; transition: all .3s ease-in-out; }
#back-to-top .top:hover { background: #e97900; color: #ffffff; -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1); box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1); }

/*---------------------------------------------------------------------
No Gutters
-----------------------------------------------------------------------*/
.no-gutters { margin-right: 0; margin-left: 0;
	>.col, >[class*="col-"] { padding-right: 0; padding-left: 0; }
}

/*---------------------------------------------------------------------
Input
-----------------------------------------------------------------------*/
input { background: transparent; border: 1px solid #d2d2d2; color: #666; height: 45px; box-shadow: none; padding-left: 10px; transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out; font-size: 14px; color: #626262; width: 100%; }
select { width: 100%; background: transparent; border: 1px solid #e0e0e0; color: #666666; height: 45px; padding-left: 10px; box-shadow: none; transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out; font-size: 14px; color: #626262; }
option { background: #fff; border: 0px solid #626262; padding-left: 10px; font-size: 14px; }
input:focus { background: transparent; border: 1px solid #e97900; }
textarea { background: transparent; resize: vertical; border: 1px solid #e0e0e0; color: #666666 !important; padding: 10px; width: 100%; transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out; font-size: 14px; }
textarea:focus { background: transparent; border: 1px solid #e97900; outline: none !important; }
.form-control { background-color: transparent; border: 2px solid #e97900; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; box-shadow: none; }
.form-control:focus { box-shadow: none; border-color: #e97900; }
input::-webkit-input-placeholder { color: #666; }
input::-moz-placeholder { color: #666; }
input:-moz-placeholder { color: #666; }
input:-ms-input-placeholder { color: #666; }
input:focus { outline: none; }

/*---------------------------------------------------------------------
Search Result
-----------------------------------------------------------------------*/
.iq-search .searchbar { position: relative; }
.iq-search .searchbar i { position: absolute; right: 18px; font-size: 24px; top: 5px; }



/*---------------------------------------------------------------------
Typography
-----------------------------------------------------------------------*/
.typo-style1 { border-left: 3px solid #e97900; padding-left: 20px; margin-top: 50px; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; padding: 6px 0 6px 15px; }
.iq-curvy { font-family: 'PT Serif', serif; font-style: italic; }


/*home*/
#rev_slider_126_1 .zeus.tparrows { cursor: pointer; min-width: 70px; min-height: 70px; position: absolute; display: block; z-index: 100; border-radius: 50%; overflow: hidden; background: rgba(0, 0, 0, 0.1) }
#rev_slider_126_1 .zeus.tparrows:before { font-family: "revicons"; font-size: 20px; color: rgb(255, 255, 255); display: block; line-height: 70px; text-align: center; z-index: 2; position: relative }
#rev_slider_126_1 .zeus.tparrows.tp-leftarrow:before { content: "\e824" }
#rev_slider_126_1 .zeus.tparrows.tp-rightarrow:before { content: "\e825" }
#rev_slider_126_1 .zeus .tp-title-wrap { background: rgba(0, 0, 0, 0.5); width: 100%; height: 100%; top: 0px; left: 0px; position: absolute; opacity: 0; transform: scale(0); -webkit-transform: scale(0); transition: all 0.3s; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; border-radius: 50% }
#rev_slider_126_1 .zeus .tp-arr-imgholder { width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; background-position: center center; background-size: cover; border-radius: 50%; transform: translatex(-100%); -webkit-transform: translatex(-100%); transition: all 0.3s; -webkit-transition: all 0.3s; -moz-transition: all 0.3s }
#rev_slider_126_1 .zeus.tp-rightarrow .tp-arr-imgholder { transform: translatex(100%); -webkit-transform: translatex(100%) }
#rev_slider_126_1 .zeus.tparrows:hover .tp-arr-imgholder { transform: translatex(0); -webkit-transform: translatex(0); opacity: 1 }
#rev_slider_126_1 .zeus.tparrows:hover .tp-title-wrap { transform: scale(1); -webkit-transform: scale(1); opacity: 1 }

/*---------------------------------------------------------------------
Blog
-----------------------------------------------------------------------*/
.iq-blog-entry { margin-bottom: 20px; }
.iq-blog-entry:hover { -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1); box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1); }
.iq-entry-image { position: relative; }
.iq-entry-image img, .iq-entry-image .owl-carousel .owl-item img { width: 100%; }
.iq-entry-image .tag { position: absolute; left: 0; bottom: -1px; background: #e97900; padding: 5px 10px; color: #fff; z-index: 9; }
.iq-entry-image .tag i { margin-right: 5px; }
.iq-entry-image .date { position: absolute; right: 15px; top: 15px; background: #222222; -webkit-border-radius: 90%; -moz-border-radius: 90%; border-radius: 90%; height: 60px; width: 60px; color: #fff; font-size: 16px; text-align: center; line-height: normal; text-transform: uppercase; padding-top: 10px; z-index: 9; }
.iq-entry-image .date small { display: block; }
.iq-blog-detail { padding: 15px; border: 1px solid #fafafa; }
.iq-entry-title a h5 { -webkit-transition: all 0.5s ease-out 0s; -moz-transition: all 0.5s ease-out 0s; -ms-transition: all 0.5s ease-out 0s; -o-transition: all 0.5s ease-out 0s; transition: all 0.5s ease-out 0s; }
.iq-entry-title a:hover h5 { color: #e97900; }
.iq-entry-meta { display: inline-block; width: 100%; }
.iq-entry-meta li { float: left; margin-right: 15px; }
.iq-entry-meta li a { color: #666; font-size: 15px; }
.iq-entry-meta li a:hover { color: #e97900; }
.iq-entry-meta li:last-child { margin-right: 0; }

/*************************
blog with blockquote
*************************/
.iq-blog-entry.iq-blockquote { position: relative; }
.iq-blog-entry.iq-blockquote .iq-entry-title h5 a, .iq-blog-entry.iq-blockquote .iq-entry-meta a { color: #ffffff; }
.iq-blog-entry.iq-blockquote .iq-entry-title h5 a:hover, .iq-blog-entry.iq-blockquote .iq-entry-meta a:hover { color: #222222; }
.iq-blog-entry.iq-blockquote .iq-entry-content { color: #ffffff; }
.iq-blog-entry.iq-blockquote .iq-blog-detail .date { background: #ffffff; padding: 6px 15px; margin-bottom: 15px; display: inline-block; color: #222222; }
.iq-blog-entry.iq-blockquote .iq-blog-detail .tag { background: #ffffff; padding: 6px 15px; margin-bottom: 15px; display: inline-block; color: #222222; }

/*************************
blog with white bg
*************************/
.iq-blog-entry.iq-blockquote.white { position: relative; -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1); box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1); }
.iq-blog-entry.iq-blockquote.white .iq-entry-title h5 a, .iq-blog-entry.iq-blockquote.white .iq-entry-meta a { color: #222222; }
.iq-blog-entry.iq-blockquote.white .iq-entry-title h5 a:hover, .iq-blog-entry.iq-blockquote.white .iq-entry-meta a:hover { color: #e97900; }
.iq-blog-entry.iq-blockquote.white .iq-entry-content { color: #222222; }
.iq-blog-entry.iq-blockquote.white .iq-blog-detail .date { background: #e97900; padding: 6px 15px; margin-bottom: 15px; display: inline-block; color: #ffffff; }
.iq-blog-entry.iq-blockquote.white .iq-blog-detail .tag { background: #e97900; padding: 6px 15px; margin-bottom: 15px; display: inline-block; color: #ffffff; }

/*************************
blog with image
*************************/
.iq-blog-entry.iq-blockquote.img .iq-entry-title h5 a, .iq-blog-entry.iq-blockquote.img .iq-entry-meta a { color: #ffffff; }
.iq-blog-entry.iq-blockquote.img .iq-entry-title h5 a:hover, .iq-blog-entry.iq-blockquote.img .iq-entry-meta a:hover { color: #e97900; }

/*************************
blog with Video
*************************/
.iq-blog-entry.iq-video .iq-blog-detail .date, .iq-blog-entry.iq-video .iq-blog-detail .tag { background: #e97900; color: #ffffff; padding: 6px 15px; margin-bottom: 15px; display: inline-block; }
.pagination-box .page-item { margin-left: -1px; }
.pagination-box .page-item .page-link { width: 50px; height: 50px; line-height: 50px; text-align: center; padding: 0; margin: 0; color: #222222; font-size: 18px; }
.pagination-box .page-item .page-link span { font-size: 24px; }
.pagination-box .page-item:hover .page-link, .pagination-box .page-item.active .page-link { background-color: #e97900; border-color: #e97900; color: #ffffff; }

/*************************
Blog - SideBar
*************************/
.iq-post-sidebar { height: 100%; }
.iq-sidebar-widget { margin-bottom: 40px; padding: 20px 20px; border: 1px solid #ededed; }
.iq-sidebar-widget:last-child { margin-bottom: 0; }
.iq-sidebar-widget .iq-widget-title { padding-bottom: 10px; margin-bottom: 20px; font-size: 24px; }

/*Audio*/
.iq-blog-entry.iq-audio .players audio { width: 100%; position: absolute; padding: 10px; top: -80px; }
.iq-blog-entry .tag, .iq-blog-entry .date { background: #e97900; color: #ffffff; padding: 6px 15px; display: inline-block; }

/*video vimeo and youtube*/
.video-box { height: 0; padding-bottom: 55.5%; margin-bottom: 0px; position: relative; overflow: hidden; }
.video-box.vimeo { padding-top: 0; }
.video-box iframe, .video-box object, .video-box embed, .video-box video { position: absolute; width: 100%; height: 100%; top: 0; left: 0; }

/*SideBar - Search*/
.iq-sidebar-widget .iq-widget-search { position: relative; }
.iq-sidebar-widget .iq-widget-search input { padding-right: 40px; box-shadow: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; color: #2c3e50; height: 50px; border: 2px solid #f2f2f2; background: #ffffff; transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; }
.iq-sidebar-widget .iq-widget-search input:focus { background: #ffffff; }
.iq-sidebar-widget .iq-widget-search i { position: absolute; right: 8px; color: #e97900; cursor: pointer; padding: 16px 12px; font-size: 18px; }
.iq-sidebar-widget .iq-widget-search input:focus { border-color: #e97900; }

/*SideBar - Posts*/
.iq-sidebar-widget .iq-recent-post { margin-top: 20px; }
.iq-sidebar-widget .iq-recent-post .media-body>a { display: block; font-size: 15px; font-weight: 600; color: #2c3e50; }
.iq-sidebar-widget .iq-recent-post .media-body>a:hover { color: #e97900; }
.iq-sidebar-widget .iq-recent-post .media-body span { color: #666666; }
.iq-sidebar-widget .iq-recent-post .media-body span .fa { color: #333333; margin-right: 5px; }

/* Meta - SideBar */
.iq-widget-archives li { margin: 10px 0; }
.iq-widget-archives li a { color: #666; }
.iq-widget-archives li a i { font-size: 16px; margin-right: 5px; }
.iq-widget-archives li a:hover { margin-left: 5px; color: #e97900; }

/*widget-menu*/
.iq-sidebar-widget { position: relative; }
.iq-sidebar-widget ul li a { font-size: 14px; display: block; color: #222222; position: relative; }
.iq-sidebar-widget .iq-widget-menu i { padding-top: 4px; position: absolute; right: 18px; }
.iq-sidebar-widget ul li a span { padding: 5px 10px 5px 0; display: block; font-size: 16px; }
.iq-sidebar-widget ul li a span:hover { text-decoration: none; color: #e97900; }
.iq-sidebar-widget ul li.active { border-bottom: none; }
.iq-sidebar-widget ul li.hover a { color: #e97900; }
.iq-sidebar-widget ul li.hover a span { background: transparent; color: #e97900; }
.iq-sidebar-widget ul ul li a span { color: #333333; }
.iq-sidebar-widget ul ul li a span:hover { color: #e97900; }
.iq-sidebar-widget ul ul { display: none; padding-left: 20px; }
.iq-sidebar-widget ul ul a { display: block; color: #333333; font-size: 14px; }
.iq-sidebar-widget ul ul a:hover { color: #e97900; }
.iq-sidebar-widget ul li.active i { transform: rotate(90deg); }
.iq-sidebar-widget ul.iq-tag li { display: inline-block; margin: 5px 5px 5px 0; }
.iq-sidebar-widget ul.iq-tag li a { display: block; background: #f3f3f3; color: #222222; padding: 5px 15px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.iq-sidebar-widget ul.iq-tag li a:hover { background: #e97900; color: #ffffff; }

/* Comments Box */
.iq-comment-list li { margin-top: 25px; margin-bottom: 0; vertical-align: top; padding: 0; position: relative; }
.iq-comment-list .iq-comments-media { padding: 15px 15px 30px; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; border-bottom: 1px solid #eee; }
.iq-comment-list .iq-comments-media img { width: 85px; }
.iq-comment-list li:last-child .iq-comments-media { border-bottom: none; padding-bottom: 0; }
.iq-comment-list ul { padding-left: 60px; }
.iq-comment-list .reply { position: absolute; line-height: 22px; margin: 0; padding: 2px 16px; font-size: 11px; right: 0; top: 0; font-weight: 500; color: #fff; }
.iq-comment-list .reply:hover { color: #fff; }
.iq-comment-list .iq-comments-media .iq-comments-info .reply { color: #ffffff; }
.info-block img { width: 100px; }
.blog-contact .formmessage { display: none; }
.blog-contact .contact-form .section-field { width: 100%; float: left; }
.blog-contact .contact-form textarea { min-height: 140px; border: 1px solid #f6f6f6; background: #f6f6f6; }
.blog-contact .contact-form .section-field input { width: 100%; margin-bottom: 20px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; padding-left: 20px; height: 45px; line-height: 45px; clear: both; color: #333; border: 1px solid #f6f6f6; background: #f6f6f6; }
.blog-contact .contact-form .section-field input:focus, .blog-contact .contact-form .section-field.textarea textarea:focus { border: 1px solid #e97900; box-shadow: none; outline: none; }

/*----------------------------------------------------------------------
Owl Carousel
-----------------------------------------------------------------------*/

/*************************
Owl Carousel Arrows 
*************************/
.owl-carousel .owl-item img { width: auto; }
.owl-carousel .owl-item img.img-full { width: 100% !important; }

/* Arrow-1 */
.owl-carousel.arrow-1 { overflow: hidden; }
.owl-carousel.arrow-1 .owl-nav { display: block; position: absolute; text-indent: inherit; top: 50% !important; margin-top: -20px; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); left: 0; width: 100%; cursor: pointer; }
.owl-carousel.arrow-1 .owl-nav .owl-prev { display: block; position: absolute; text-indent: inherit; left: -44px; width: auto; cursor: pointer; -webkit-transition: opacity 0.3s ease 0s, left 0.3s ease 0s; -moz-transition: opacity 0.3s ease 0s, left 0.3s ease 0s; -ms-transition: opacity 0.3s ease 0s, left 0.3s ease 0s; -o-transition: opacity 0.3s ease 0s, left 0.3s ease 0s; transition: opacity 0.3s ease 0s, left 0.3s ease 0s; }
.owl-carousel.arrow-1 .owl-nav .owl-next { display: block; position: absolute; text-indent: inherit; right: -44px; width: auto; cursor: pointer; -webkit-transition: opacity 0.3s ease 0s, right 0.3s ease 0s; -moz-transition: opacity 0.3s ease 0s, right 0.3s ease 0s; -ms-transition: opacity 0.3s ease 0s, right 0.3s ease 0s; -o-transition: opacity 0.3s ease 0s, right 0.3s ease 0s; transition: opacity 0.3s ease 0s, right 0.3s ease 0s; }
.owl-carousel.arrow-1 .owl-nav i { font-weight: normal; font-size: 24px; color: #fff; background: rgba(34, 34, 34, 0.7); padding: 8px 20px; -webkit-transition: all 0.3s ease-out 0s; -moz-transition: all 0.3s ease-out 0s; -ms-transition: all 0.3s ease-out 0s; -o-transition: all 0.3s ease-out 0s; transition: all 0.3s ease-out 0s; }
.owl-carousel.arrow-1 .owl-nav i:hover { background: #e97900; }
.owl-carousel.arrow-1 .owl-nav .owl-prev { left: 0; display: inline-grid; }
.owl-carousel.arrow-1 .owl-nav .owl-next { right: 0; display: inline-grid; }
.owl-carousel.arrow-1 .owl-stage-outer { overflow: hidden; }

/* Arrow-2 */
.owl-carousel.arrow-2 .owl-nav { position: absolute; display: block; text-indent: inherit; margin-top: -22px; top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); -o-transform: translateY(-50%); -ms-transform: translateY(-50%); -moz-transform: translateY(-50%); left: 0; width: 100%; cursor: pointer; z-index: 999; opacity: 0; }
.owl-carousel.arrow-2 .owl-nav i { background: #ffffff; color: #e97900; border: 1px solid #e3e3e3; font-size: 20px; width: 44px; height: 44px; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; box-shadow: -1px 6px 13px rgba(0, 0, 0, 0.1); display: inline-block; line-height: 42px; padding-left: 2px; text-align: center; font-weight: normal; -webkit-transition: all 0.5s ease-out 0s; -moz-transition: all 0.5s ease-out 0s; -ms-transition: all 0.5s ease-out 0s; -o-transition: all 0.5s ease-out 0s; transition: all 0.5s ease-out 0s; }
.owl-carousel.arrow-2 .owl-nav i:hover { background: #e97900; color: #fff; border-color: #e97900; }
.owl-carousel.arrow-2 .owl-nav .owl-prev { position: absolute; display: block; cursor: pointer; width: auto; text-indent: inherit; left: 0px; -webkit-transition: opacity 0.5s ease 0s, left 0.5s ease 0s; -moz-transition: opacity 0.5s ease 0s, left 0.5s ease 0s; -ms-transition: opacity 0.5s ease 0s, left 0.5s ease 0s; -o-transition: opacity 0.5s ease 0s, left 0.5s ease 0s; transition: opacity 0.5s ease 0s, left 0.5s ease 0s; }
.owl-carousel.arrow-2 .owl-nav .owl-next { position: absolute; display: block; cursor: pointer; width: auto; text-indent: inherit; right: 0px; -webkit-transition: opacity 0.5s ease 0s, right 0.5s ease 0s; -moz-transition: opacity 0.5s ease 0s, right 0.5s ease 0s; -ms-transition: opacity 0.5s ease 0s, right 0.5s ease 0s; -o-transition: opacity 0.5s ease 0s, right 0.5s ease 0s; transition: opacity 0.5s ease 0s, right 0.5s ease 0s; }
.owl-carousel.arrow-2:hover .owl-nav { opacity: 1; }
.owl-carousel.arrow-2:hover .owl-nav .owl-prev { left: 20px; }
.owl-carousel.arrow-2:hover .owl-nav .owl-next { right: 20px; }

/* Arrow-3 */
.owl-carousel.arrow-3 .owl-prev, .owl-carousel.arrow-3 .owl-next { float: left; }
.owl-carousel.arrow-3 .owl-prev i, .owl-carousel.arrow-3 .owl-next i { color: #ddd; }
.owl-carousel.arrow-3 .owl-prev:hover i, .owl-carousel.arrow-3 .owl-next:hover i { color: #e97900; }
.owl-carousel.arrow-3 .owl-prev .fa-angle-left:before { content: "\f177"; float: left; }
.owl-carousel.arrow-3 .owl-next .fa-angle-right:before { content: "\f178"; float: left; margin-left: 10px; }

/* Arrow-4 */
.owl-carousel.arrow-4 .owl-nav { position: absolute; top: -50px; right: 0; }
.owl-carousel.arrow-4 .owl-nav i { background: #222222; color: #ffffff; font-size: 24px; width: 34px; height: 34px; line-height: 30px; display: inline-block; text-align: center; font-weight: normal; -webkit-transition: all 0.5s ease-out 0s; -moz-transition: all 0.5s ease-out 0s; -ms-transition: all 0.5s ease-out 0s; -o-transition: all 0.5s ease-out 0s; transition: all 0.5s ease-out 0s; }
.owl-carousel.arrow-4 .owl-nav i:hover { background: #e97900; color: #fff; border-color: #e97900; }
.owl-carousel.arrow-4 .owl-prev, .owl-carousel.arrow-4 .owl-next { float: left; margin-left: 6px; }

/* Dots */
.owl-carousel .owl-controls .owl-dot { margin-top: 20px; display: inline-block; }
.owl-carousel .owl-dots { position: relative; width: 100%; display: inline-block; text-indent: inherit; text-align: center; cursor: pointer; }
.owl-carousel.owl-theme .owl-dots .owl-dot span { background: #cecece; display: inline-block; -webkit-border-radius: 30px; -moz-border-radius: 30px; border-radius: 30px; margin: 0px 3px; height: 10px; width: 10px; border: 1px solid #ffffff; transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; cursor: pointer; }
.owl-carousel.owl-theme .owl-dots .owl-dot:hover span { background: #e97900; }
.owl-carousel.owl-theme .owl-dots .owl-dot.active span { background: #e97900; width: 30px; }
.overview-block-pt {
    background:#f6f6f6;
}

/*---------------------------------------------------------------------
Special All  ( all pages Features )
-----------------------------------------------------------------------*/
.read-more a {
	color: #e97900;
	padding-left:5px;
}
.read-more-white a {
	color: #fff;
	padding-left:5px;
}
.icon-blog img{
	width:80px;
}
